# Ignorar Logs
*.log

# Ignorar archivos .mat
*.mat

# Ignorar archivos binarios de numpy
*.npz

# Ignorar archivos .h5 de keras y .tflite, si se quiere reproducir los resultados será necesario entrenar de cero
*.tflite
*.h5

# Ignorar salidas del Build de STM32CubeIDE (todos los proyectos dentro de ST_Workspace/)
ST_Workspace/**/Debug/
ST_Workspace/**/Release/
*.o
*.d
*.elf
*.hex
*.bin
*.map

# Ignorar STM32CubeIDE temporary or local settings
*.launch
